In [1]:
import pandas as pd

In [25]:
df = pd.read_csv("inicio_estabs.csv")
df

      DATA_INICIO_ATIV  QTD
0             20/08/03    1
1             17/08/18    1
2             10/06/29    1
3             21/10/33    1
4             29/03/38    1
...                ...  ...
16119         16/11/20  157
16120         17/11/20  190
16121         18/11/20  221
16122         19/11/20  193
16123         20/11/20  160

[16124 rows x 2 columns]

In [15]:
anos2000 = df.loc[9051:,:]
anos1000 = df.loc[0:9050,:]

In [20]:
for i,row in anos1000.iterrows():
    data = row['DATA_INICIO_ATIV']
    data_split = data.split("/")
    nova_data = f"19{data_split[2]}-{data_split[1]}-{data_split[0]}"
    anos1000.loc[i,'data'] = nova_data

/home/caio/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

In [21]:
anos1000

     DATA_INICIO_ATIV  QTD        data
0            20/08/03    1  1903-08-20
1            17/08/18    1  1918-08-17
2            10/06/29    1  1929-06-10
3            21/10/33    1  1933-10-21
4            29/03/38    1  1938-03-29
...               ...  ...         ...
9046         27/12/99   22  1999-12-27
9047         28/12/99   19  1999-12-28
9048         29/12/99   18  1999-12-29
9049         30/12/99   28  1999-12-30
9050         31/12/99    1  1999-12-31

[9051 rows x 3 columns]

In [22]:
for i,row in anos2000.iterrows():
    data = row['DATA_INICIO_ATIV']
    data_split = data.split("/")
    nova_data = f"20{data_split[2]}-{data_split[1]}-{data_split[0]}"
    anos2000.loc[i,'data'] = nova_data

/home/caio/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:1596: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = _infer_fill_value(value)
/home/caio/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

In [23]:
anos2000

      DATA_INICIO_ATIV  QTD        data
9051          01/01/00    2  2000-01-01
9052          02/01/00    1  2000-01-02
9053          03/01/00   18  2000-01-03
9054          04/01/00   14  2000-01-04
9055          05/01/00   21  2000-01-05
...                ...  ...         ...
16119         16/11/20  157  2020-11-16
16120         17/11/20  190  2020-11-17
16121         18/11/20  221  2020-11-18
16122         19/11/20  193  2020-11-19
16123         20/11/20  160  2020-11-20

[7073 rows x 3 columns]

In [26]:
new_df = anos1000.append(anos2000)
new_df = new_df.drop("DATA_INICIO_ATIV",axis=1)
new_df

       QTD        data
0        1  1903-08-20
1        1  1918-08-17
2        1  1929-06-10
3        1  1933-10-21
4        1  1938-03-29
...    ...         ...
16119  157  2020-11-16
16120  190  2020-11-17
16121  221  2020-11-18
16122  193  2020-11-19
16123  160  2020-11-20

[16124 rows x 2 columns]

In [48]:
new_df.to_csv("inicio_estabs_formatado.csv",index=False)

In [49]:
df = pd.read_csv("situacao.csv")
df

      DATA_SITUACAO_CADASTRAL URI_CLASSE_TIPO_SITUACAO  QTD
0                    10/06/29                   ACTIVE    1
1                    29/03/38                   ACTIVE    1
2                    13/01/47                   ACTIVE    1
3                    20/01/48                   ACTIVE    1
4                    30/12/61                   ACTIVE    1
...                       ...                      ...  ...
19723                19/11/20                     DOWN   63
19724                19/11/20                SUSPENDED    1
19725                20/11/20                   ACTIVE  180
19726                20/11/20                     DOWN   25
19727                20/11/20                SUSPENDED    1

[19728 rows x 3 columns]

In [50]:
df['URI_CLASSE_TIPO_SITUACAO'].unique()

array(['ACTIVE', 'DOWN', nan, 'SUSPENDED', 'UNFIT'], dtype=object)

In [51]:
df = df.fillna('Nula')
df = df.replace({'ACTIVE':'Ativa', 'DOWN':'Baixada', 'SUSPENDED':'Suspensa', 'UNFIT':'Inápta'})
df['URI_CLASSE_TIPO_SITUACAO'].unique()

array(['Ativa', 'Baixada', 'Nula', 'Suspensa', 'Inápta'], dtype=object)

In [52]:
anos2000 = df.loc[6099:,:]
anos1000 = df.loc[:6098,:]
for i,row in anos1000.iterrows():
    data = row['DATA_SITUACAO_CADASTRAL']
    data_split = data.split("/")
    nova_data = f"19{data_split[2]}-{data_split[1]}-{data_split[0]}"
    anos1000.loc[i,'data'] = nova_data
print(anos1000)
for i,row in anos2000.iterrows():
    data = row['DATA_SITUACAO_CADASTRAL']
    data_split = data.split("/")
    nova_data = f"20{data_split[2]}-{data_split[1]}-{data_split[0]}"
    anos2000.loc[i,'data'] = nova_data
print(anos2000)
new_df = anos1000.append(anos2000)
new_df = new_df.drop("DATA_SITUACAO_CADASTRAL",axis=1)
print(new_df)

/home/caio/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:1596: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = _infer_fill_value(value)
/home/caio/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
     DATA_SITUACAO_CADASTRAL URI_CLASSE_TIPO_SITUACAO  QTD        data
0                   10/06/29                    Ativa    1  1929-06-10
1                   29/03/38                    Ativa    1  1938-03-29
2                   13/01/47                    Ativa    1  1947-01-13
3                   20/01/48                    Ativa    1  1948-01-20
4                   30/12/61                    Ativa    1  1961-12-30
...                      ...                      ...  ...         ...
6094                27/12/99                  Baixada    7  1999-12-27
6095                28/12/99                  Baixada    6  1999-12-28
6096                29/12/99                  Baixada    7  1999-12-29
6097                30/12/99                  Baixada   14  1999-12-30
6098                31/12/99                  Baixada    1  1999-12-31

[6099 rows x 4 columns]
/home/caio/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:1596: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = _infer_fill_value(value)
/home/caio/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)
      DATA_SITUACAO_CADASTRAL URI_CLASSE_TIPO_SITUACAO  QTD        data
6099                 02/01/00                    Ativa    1  2000-01-02
6100                 03/01/00                  Baixada    2  2000-01-03
6101                 04/01/00                    Ativa    1  2000-01-04
6102                 04/01/00                  Baixada    7  2000-01-04
6103                 05/01/00                    Ativa    1  2000-01-05
...                       ...                      ...  ...         ...
19723                19/11/20                  Baixada   63  2020-11-19
19724                19/11/20                 Suspensa    1  2020-11-19
19725                20/11/20                    Ativa  180  2020-11-20
19726                20/11/20                  Baixada   25  2020-11-20
19727                20/11/20                 Suspensa    1  2020-11-20

[13629 rows x 4 columns]
      URI_CLASSE_TIPO_SITUACAO  QTD        data
0                        Ativa    1  1929-06-10
1                        Ativa    1  1938-03-29
2                        Ativa    1  1947-01-13
3                        Ativa    1  1948-01-20
4                        Ativa    1  1961-12-30
...                        ...  ...         ...
19723                  Baixada   63  2020-11-19
19724                 Suspensa    1  2020-11-19
19725                    Ativa  180  2020-11-20
19726                  Baixada   25  2020-11-20
19727                 Suspensa    1  2020-11-20

[19728 rows x 3 columns]

In [53]:
new_df.to_csv("situacao_formatado.csv",index=False)